/* General Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

/*Header and Logo*/
.main-header {
    background-color: white;
    padding: 10px 10px;

}

.logo {
    vertical-align: middle;

}

.main-title {
    font-size: 40px;
    font-weight: 700;
    vertical-align: middle;

}

/*Body and Main*/
body {
    background-color: #F6F8F9;

}

.main-container {
    padding: 20px;
    background-color: white;
    box-sizing: border-box;
    margin-top: 50px;
    margin-left: 500px;
    margin-right: 500px;
    margin-bottom: 100px;
    border: #61ACEB;
    border-radius: 10px
    
}

/*Buttons*/
.buttons {
    margin-left: 50px;

}

#add-task {
    background-color: #61ACEB;
    width: 75px;
    height: 30px;
    border: #61ACEB solid;
    border-radius: 5px;
}

#add-section {
    background-color:white;
    width: 90px;
    height: 30px;
    border: #CCCCCC solid;
    border-radius: 5px;

}

/*Task Section*/
.tasks {
    padding: 50px;

}

.new-task {
    font-size: 25px;
    margin-bottom: 35px;
}

.task {
    margin-top: 10px;
    font-size: 20px;
    vertical-align: middle;
    margin-bottom: 10px;
    padding: 5px
}

.check {
    color: green;
    border: 1px green solid;
    border-radius: 50px;
    padding: 5px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;

}

.editorial {
    font-size: 12px;
    color: white;
    background-color: #61ACEB;
    border: #61ACEB solid;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.today {
    font-size: 25px;
    margin-bottom: 35px;
}

.goals {
    font-size: 12px;
    color: white;
    background-color: #9577DD;
    border: #9577DD solid;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.recruiting {
    font-size: 12px;
    color: white;
    background-color: #7BBDAA;
    border: #7BBDAA solid;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.cross {
    color: red;
    border: 1px red solid;
    border-radius: 50px;
    padding: 5px;
    height: 20px;
    width: 20px;
    font-size: 10px;
    vertical-align: middle;
    margin-right: 5px;
    display: inline-block;

}

.mobile {
    font-size: 12px;
    color: white;
    background-color: #E7A04B;
    border: #E7A04B solid;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.upcoming {
    font-size: 25px;
    margin-bottom: 35px;
}

.sales {
    font-size: 12px;
    color: white;
    background-color: #B5C749;
    border: #B5C749 solid;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    margin-left: 5px;
}

.website {
    font-size: 12px;
    color: white;
    background-color: #CA6B9F;
    border: #CA6B9F solid;
    border-radius: 10px;
    padding: 5px;
    vertical-align: middle;
    margin-left: 5px;
}
